body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
}

/* Zaglavlje */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

/* Glavni sadržaj */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Kontaktni formular */
form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 3px;
	background-color: #eee;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #555;
}
/* Podnožje */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;